html, body {
  -webkit-user-select: none;
  width: 100%;
  height: 100%;
}

a, button, input, optgroup, select, textarea, div {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  overflow: scroll;

  .main__top {
    height: 250px;
    width: 100%;
    background: #fff url(http://hzmetro3.oss-cn-hangzhou.aliyuncs.com/bg.jpg) no-repeat center center/100% auto ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .main__top--img {
      height: 140px;
      width: 140px;
      margin: 0 auto 20px;
      img {
        height: 100%;
        width: 100%;
      }
    }
    .main__top--title {
      width: 100%;
      text-align: center;
      h1 {
        font-size: 23px;
        margin: 0 0 7px 0;
      }
      small {
        font-size: 12px;
        color: #666;
      }
    }

  }
  .main__middle {
    width: 250px;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #e6e6e6;
    p {
      font-size: 13px;
      line-height: 140%;
      color: #999;
      margin:0;
    }

  }
  .main__bottom {
    width: 250px;
    margin: 0 auto;
    .main__bottom--button {
      text-decoration: none;
      height: 45px;
      width: 100%;
      border-radius: 45px;
      -webkit-appearance: none;
      border: 1px solid #B5B5B5;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      outline:0;
      margin-bottom:30px;
      &:active {
        background: #eee;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      }
      &:nth-child(1) {
        margin-bottom: 15px;
      }
      img {
        height: 25px;
        width: 25px;
        margin-right: 8px;
      }
      span {
        line-height: 120%;
        color: #666;
      }
    }
  }
}

